# Class Activity

Build a Regression Machine Learning Model using Mama Tee restaurant dataset.
The objective of the regression task is to predict the amount of tip (gratuity in Nigeria naira) given to a food server based on total_bill, gender, smoker (whether they smoke in the party or not), day (day of the week for the party), time (time of the day whether for lunch or dinner), and size (size of the party) in Mama Tee restaurant.

#### TODO
- Get the dataset from your AI Invasion Study Pack: "Tips.csv"

### Step #1 Importing the required libraries

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn
import sklearn

from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

### Step#2 Loading the dataset

In [3]:

df = pd.read_csv("./tips.csv") #TODO: Add the path to your dataset 

df.head()

   total_bill     tip  gender smoker   day    time  size
0     2125.50  360.79    Male     No  Thur   Lunch     1
1     2727.18  259.42  Female     No   Sun  Dinner     5
2     1066.02  274.68  Female    Yes  Thur  Dinner     4
3     3493.45  337.90  Female     No   Sun  Dinner     1
4     3470.56  567.89    Male    Yes   Sun   Lunch     6

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744 entries, 0 to 743
Data columns (total 7 columns):
total_bill    744 non-null float64
tip           744 non-null float64
gender        744 non-null object
smoker        744 non-null object
day           744 non-null object
time          744 non-null object
size          744 non-null int64
dtypes: float64(2), int64(1), object(4)
memory usage: 40.8+ KB

In [5]:
df.describe()

        total_bill          tip        size
count   744.000000   744.000000  744.000000
mean   2165.006640   325.948091    3.180108
std     954.248806   148.778225    1.532890
min      44.690000     0.000000    1.000000
25%    1499.022500   218.000000    2.000000
50%    2102.610000   320.460000    3.000000
75%    2743.802500   415.562500    4.000000
max    5538.290000  1090.000000    6.000000

### Step#3 Clean the dataset

In [6]:
df.columns

Index(['total_bill', 'tip', 'gender', 'smoker', 'day', 'time', 'size'], dtype='object')

In [7]:
# Check for missing value
df.isnull().sum()

total_bill    0
tip           0
gender        0
smoker        0
day           0
time          0
size          0
dtype: int64

In [7]:
# fill up missing values in Distance_Km will the mean
mean_value = df[""].mean() #TODO: add the column name with missing values 
print(mean_value)

df[""].fillna(mean_value, inplace=True)

KeyError: ''

In [8]:
# Check and make sure all missing valuen have been filled
df.isnull().sum()

total_bill    0
tip           0
gender        0
smoker        0
day           0
time          0
size          0
dtype: int64

In [9]:
# The main of this section is to rename the different 
# class in our categorigal feature that were not properly named.
# or chanage the data type of a column

cat_features = {
    "gender",
    "smoker",
    "day",
    "time",
}

for cat_feature in cat_features:
  print(cat_feature, df[cat_feature].unique(), sep=":")
  print("#"*50)

time:['Lunch' 'Dinner']
##################################################
day:['Thur' 'Sun' 'Mon' 'Sat' 'Wed' 'Tues' 'Fri']
##################################################
smoker:['No' 'Yes']
##################################################
gender:['Male' 'Female']
##################################################

In [10]:
# Label Encoding
cat_features = ["gender","smoker","day","time"]

for cat_feature in cat_features:
  df[f"{cat_feature}_cat"] = df[cat_feature].astype('category')
  df[f"{cat_feature}_cat"] = df[f"{cat_feature}_cat"].cat.codes


# Read more on Pandas get_dummies

df.head()

,total_bill,tip,gender,smoker,day,time,size,gender_cat,smoker_cat,day_cat,time_cat
0,2125.50,360.79,Male,No,Thur,Lunch,1,1,0,4,1
1,2727.18,259.42,Female,No,Sun,Dinner,5,0,0,3,0
2,1066.02,274.68,Female,Yes,Thur,Dinner,4,0,1,4,0
3,3493.45,337.90,Female,No,Sun,Dinner,1,0,0,3,0
4,3470.56,567.89,Male,Yes,Sun,Lunch,6,1,1,3,1

In [11]:
# Drop the reductant features since Label encoding have been done
df.drop(["gender","smoker","day","time"], axis=1, inplace=True)
df.head()

   total_bill     tip  size  gender_cat  smoker_cat  day_cat  time_cat
0     2125.50  360.79     1           1           0        4         1
1     2727.18  259.42     5           0           0        3         0
2     1066.02  274.68     4           0           1        4         0
3     3493.45  337.90     1           0           0        3         0
4     3470.56  567.89     6           1           1        3         1

### Step#4 Perform data segmentation

In [12]:
y = df["tip"] # TODO: Add Target name 
X = df.drop("tip", axis=1) # TODO: Add Target name

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

### Step#5 Load your data into the Linear Regression model i.e Train your model

In [14]:
from sklearn.linear_model import LinearRegression

reg = LinearRegression()
reg.fit(X_train, y_train) #TODO: Train your model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

## Step#6 Make predictions

In [1]:
reg.predict(X_test) ## Predict

NameError: name 'reg' is not defined

## Step#7 Evaluate your model

In [15]:
from sklearn.metrics import mean_absolute_error, r2_score, mean_squared_error

# TODO: Evaluate your model using the following
# - R Square/Adjusted R Square
# - Mean Square Error(MSE)/Root Mean Square Error(RMSE)
# - Mean Absolute Error(MAE)

y_pred = reg.predict(X_test)

print("MAE",mean_absolute_error(y_test,y_pred))
#print("R2",r2_score(y_test,y_pred))
#print("MSE",mean_squared_error(y_test,y_pred))

MAE 115.03365758180475

# Other Machine Learning Algorithms

In [ ]:
# Summary on concluded DSN event in collaboration with Testrogen Innovation Hub

# Day Two 26/04/2022
# Topic: Analyzing and Understanding Data
# We were introduced to the Python programming language and data processing we talked extensively about the machine learning workflow and how to prepare a prediction model
1 Get a data set through dat collections
2 Preparing of dat by cleaning, veryfying and other processess
3 You then group your dat into sets(Training, Testing, Validation)
# We alson talked about how to deploy machine learning models which is simply how to integrate your model with other systems or the web


# Day Three 27/04/2022
# Topic: Supervised Learning: Introduction To Regression Analysis
# The basis of machine learning are algorithms 
# Linear Regression is a mathematical formular
# This formular is then written as a block of code for the computer to understand
# There are also other machine learning algorithms
Supervised Learning
This is a way of training a computer model under supervised conditions


# Day 4 28/04/2022
# TOpic: Supervised Learning: Introduction To Regression Analysis
# This was basically the practical aspect of it all
# We were shown step by step on how to build a prediction model



# Day 5 29/04/2022
# Topic: Revision and AI Invasion Competitions
# we did a brief revision 
# We were then showed ways on how to generate income for ourselves through machine learning and were intoduced to different competition in the space

In [ ]:
 # TODO: Try another Machine Learning Algorithms

In [16]:
from sklearn.tree import DecisionTreeRegressor

dt_reg = DecisionTreeRegressor()
dt_reg.fit(X_train, y_train)
y_pred = dt_reg.predict(X_test)

print("MAE", mean_absolute_error(y_test,y_pred))

MAE 152.94549107142856

In [17]:
from xgboost import XGBRegressor

ModuleNotFoundError: No module named 'xgboost'

In [ ]:
model = XGBRegrssor ()

In [ ]:
submission = pd.DataFrame(y_pred)

In [ ]:
submission.to_csv("./submission.csv",index=False)