### Step#1 Importing the required libraries

In [4]:
import pandas as pd
import numpy as np
import glob
import os

import matplotlib.pyplot as plt
import seaborn
import sklearn

from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

### Step#2 Loading the dataset

In [14]:

# setting the path for joining multiple files
files = os.path.join("C:\\Users\\ICT\\Desktop\\""train.csv")

# list of merged files returned
files = glob.glob(files)

print("Resultant CSV after joining all CSV files at a particular location...");

# joining files with concat and read_csv
df = pd.concat(map(pd.read_csv, files), ignore_index=True)
print(df)

Resultant CSV after joining all CSV files at a particular location...
                  Image_id  Label
0     id_02amazy34fgh2.jpg      1
1     id_02mh3w48pmyc9.jpg      0
2     id_02rpb463h9d3w.jpg      0
3     id_02wc3jeeao8ol.jpg      1
4     id_03t2hapb8wz8p.jpg      1
5     id_04xrxyd43rlgz.jpg      0
6     id_05gqx7h8y6iye.jpg      1
7     id_06le9g89kqth5.jpg      1
8     id_082w0qygo3eth.jpg      0
9     id_086yvmu3nnvbe.jpg      1
10    id_09v3am3ppzesz.jpg      0
11    id_0bbnpqpkpbod3.jpg      1
12    id_0bd0chrhwa88r.jpg      1
13    id_0d6mm3xcpbqkw.jpg      1
14    id_0ff2fm63gzxvs.jpg      0
15    id_0g00jpbynmgfr.jpg      0
16    id_0gur3rc3nuft9.jpg      0
17    id_0k7gdyyx5zunr.jpg      1
18    id_0klqzvk8id4bt.jpg      0
19    id_0mytnx3vd7ebk.jpg      0
20    id_0ncnn142aww4v.jpg      1
21    id_0qm8i331u09jq.jpg      0
22    id_0qrjnjx2nbbde.jpg      0
23    id_0t41fhqaaqux9.jpg      0
24    id_0t76933bwfswn.jpg      1
25    id_0t7gw6z26pabf.jpg      0
26    id_0ub75edrc3qvg.jpg      1
27    id_0unlhj59tv0p4.jpg      0
28    id_0vn4379vhh52p.jpg      1
29    id_0wq0ldha65pkf.jpg      0
...                    ...    ...
1589  id_zbzgkw14mdnlw.jpg      0
1590  id_zcm6ptwtyqb9o.jpg      1
1591  id_zehit3qijcph8.jpg      1
1592  id_zhizwrcgl6tnu.jpg      0
1593  id_zhok6648ypi53.jpg      1
1594  id_zi85wl6irc5yx.jpg      0
1595  id_zj39k0wo0vz0p.jpg      0
1596  id_zjq1hynwv2lwj.jpg      1
1597  id_zkc86wqhhklgh.jpg      1
1598  id_zkqo9tf2av5gw.jpg      0
1599  id_zku0n9fxgr9zl.jpg      0
1600  id_zkxc1lssa7fqh.jpg      1
1601  id_zm116pc1ew179.jpg      1
1602  id_zn76xuzlkt55g.jpg      1
1603  id_znfv94esdbiae.jpg      1
1604  id_zqs366zt1qhsk.jpg      0
1605  id_zqvto0725ipyp.jpg      0
1606  id_zrcr2h2im6dxf.jpg      1
1607  id_zrf1msg5lku5s.jpg      0
1608  id_zsikh94rq4xhn.jpg      0
1609  id_zsnxlnf1wa805.jpg      0
1610  id_zstp393nubqpe.jpg      1
1611  id_zsts4k0kqtywj.jpg      1
1612  id_zsv7vc6mzcqyj.jpg      1
1613  id_zsvdecgfick1x.jpg      0
1614  id_ztf4l3e8m6gmh.jpg      0
1615  id_ztgztu5vexsoe.jpg      1
1616  id_ztue0lrjt4l4g.jpg      0
1617  id_zyubro5pfg31d.jpg      0
1618  id_zz20l1nlkrid7.jpg      0

[1619 rows x 2 columns]

In [6]:
df.head()

               Image_id  Label
0  id_02amazy34fgh2.jpg      1
1  id_02mh3w48pmyc9.jpg      0
2  id_02rpb463h9d3w.jpg      0
3  id_02wc3jeeao8ol.jpg      1
4  id_03t2hapb8wz8p.jpg      1

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1619 entries, 0 to 1618
Data columns (total 2 columns):
Image_id    1619 non-null object
Label       1619 non-null int64
dtypes: int64(1), object(1)
memory usage: 25.4+ KB

In [8]:
df.describe

<bound method NDFrame.describe of                   Image_id  Label
0     id_02amazy34fgh2.jpg      1
1     id_02mh3w48pmyc9.jpg      0
2     id_02rpb463h9d3w.jpg      0
3     id_02wc3jeeao8ol.jpg      1
4     id_03t2hapb8wz8p.jpg      1
5     id_04xrxyd43rlgz.jpg      0
6     id_05gqx7h8y6iye.jpg      1
7     id_06le9g89kqth5.jpg      1
8     id_082w0qygo3eth.jpg      0
9     id_086yvmu3nnvbe.jpg      1
10    id_09v3am3ppzesz.jpg      0
11    id_0bbnpqpkpbod3.jpg      1
12    id_0bd0chrhwa88r.jpg      1
13    id_0d6mm3xcpbqkw.jpg      1
14    id_0ff2fm63gzxvs.jpg      0
15    id_0g00jpbynmgfr.jpg      0
16    id_0gur3rc3nuft9.jpg      0
17    id_0k7gdyyx5zunr.jpg      1
18    id_0klqzvk8id4bt.jpg      0
19    id_0mytnx3vd7ebk.jpg      0
20    id_0ncnn142aww4v.jpg      1
21    id_0qm8i331u09jq.jpg      0
22    id_0qrjnjx2nbbde.jpg      0
23    id_0t41fhqaaqux9.jpg      0
24    id_0t76933bwfswn.jpg      1
25    id_0t7gw6z26pabf.jpg      0
26    id_0ub75edrc3qvg.jpg      1
27    id_0unlhj59tv0p4.jpg      0
28    id_0vn4379vhh52p.jpg      1
29    id_0wq0ldha65pkf.jpg      0
...                    ...    ...
1589  id_zbzgkw14mdnlw.jpg      0
1590  id_zcm6ptwtyqb9o.jpg      1
1591  id_zehit3qijcph8.jpg      1
1592  id_zhizwrcgl6tnu.jpg      0
1593  id_zhok6648ypi53.jpg      1
1594  id_zi85wl6irc5yx.jpg      0
1595  id_zj39k0wo0vz0p.jpg      0
1596  id_zjq1hynwv2lwj.jpg      1
1597  id_zkc86wqhhklgh.jpg      1
1598  id_zkqo9tf2av5gw.jpg      0
1599  id_zku0n9fxgr9zl.jpg      0
1600  id_zkxc1lssa7fqh.jpg      1
1601  id_zm116pc1ew179.jpg      1
1602  id_zn76xuzlkt55g.jpg      1
1603  id_znfv94esdbiae.jpg      1
1604  id_zqs366zt1qhsk.jpg      0
1605  id_zqvto0725ipyp.jpg      0
1606  id_zrcr2h2im6dxf.jpg      1
1607  id_zrf1msg5lku5s.jpg      0
1608  id_zsikh94rq4xhn.jpg      0
1609  id_zsnxlnf1wa805.jpg      0
1610  id_zstp393nubqpe.jpg      1
1611  id_zsts4k0kqtywj.jpg      1
1612  id_zsv7vc6mzcqyj.jpg      1
1613  id_zsvdecgfick1x.jpg      0
1614  id_ztf4l3e8m6gmh.jpg      0
1615  id_ztgztu5vexsoe.jpg      1
1616  id_ztue0lrjt4l4g.jpg      0
1617  id_zyubro5pfg31d.jpg      0
1618  id_zz20l1nlkrid7.jpg      0

[1619 rows x 2 columns]>

### Step#3 cleaning of dataset

In [9]:
df.columns

Index(['Image_id', 'Label'], dtype='object')

In [10]:
df.shape

(1619, 2)

### Perform data segmentation

In [43]:
from sklearn.model_selection import train_test_split


y = df
X = df("train")

X_train,X_test,y_train,y_test = train_test_split(X.index,y,test_size=0.2)
X.iloc[X_train] # return dataframe train

TypeError: 'str' object is not callable

In [39]:
df = "y"
df = "X"

### Train your model

In [26]:
from sklearn.linear_model import LinearRegression

reg = LinearRegression()
reg.fit(X_train, y_train)

NameError: name 'X_train' is not defined